{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    [
      "jsx-pragmatic",
      {
        "module": "preact",
        "export": "h",
        "import": "h"
      }
    ]
  ]
}
